<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @business_size.name %>
</p>

<p>
  <b>Description:</b>
  <%= @business_size.description %>
</p>


<%= link_to 'Edit', edit_business_size_path(@business_size) %> |
<%= link_to 'Back', business_sizes_path %>
